body {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: sans-serif;
  padding: 24px;
}

.navbar {
  display: flex;
  flex: 1;
  align-items: center;
  background-color: #313236;
  border-radius: 2px;
  width: fit-content;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 12px 24px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

p {
  padding: 0;
  margin: 0 0 12px 0;
}
